@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-sustem, BlinkMacSustemFont, 'Segeo UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html {
  width: 100%;
  height: 100%;
}

body{
    background-color: theme('colors.body');
    color: theme('colors.white');
}

.overlay-slick-hero{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    theme('colors.body'),
    transparent 90%,
    theme('colors.body')
  );
}